@import "src/style/colors";

.content {
  background: $backgroundColor;
  padding: 80px 155px;
  position: relative;

  &__title {
    color: $darkGrey-2;
    margin-bottom: 34px;
  }

  &__accordion {
    padding: 27px 0;
  }

  &__image {
    position: absolute;
    top: 175px;
    right: 197px;
    width: 481px;
    height: 479px;
  }
}