$darkBlue: #0070A0;
$lightBlue: #CCE5F3;
$white: #FFFFFF;
$darkGrey: #33383F;
$darkGrey-2: #1F1F1F;
$yellow: #FAEA73;
$aqua: #CCEFF6;
$pink: #F7CEDC;
$backgroundColor: #F7F9FA;
$darkBlue-2: #2C90C9;
$lightBlue-2: #E6F7FF;
$lightGrey: #626A72;
$grey: #C2CDD8;
$darkBlue-2: #006B99;
$grey-2: #DEE5EB;

